HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Maven ###
.mvn
mvnw
mvnw.cmd

### application.properties ###
src/main/resources/application.properties

### other ###
src/main/java/fi/jonij/portfoliobackend/security/Credentials.java


